.proposalStepperContainer {
    padding: 16px;
    padding-bottom: 0;
    background-color: white;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateZ(0);
}