.wrapper {
    margin-top: 80px;

    @media (max-width: $mantine-breakpoint-sm) {
        margin-top: 130px;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        margin-top: 190px;
    }
}

.dropzone {
    border-width: rem(1px);
}

.icon {
    color: var(--mantine-colors-blue-6);
}

.control {
    width: rem(250px);
    left: calc(50% - rem(125px));
    margin-top: rem(16px);
}